<% unless @error %>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <form action="/do" method="get" class="span10">
      <div class="span16">
        <center><input name="q" id="q" type="text" placeholder="#" class="span10"/></center>
      </div>
    </form>
  </div>
  <script language="javascript" type="text/javascript">
    document.getElementById("q").focus();
  </script>
<% end %>
