<% unless @error %>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <form action="/do" method="get" class="col-md-10">
      <div class="form-group">
        <input name="q" id="q" type="text" placeholder="#" class="form-control"/>
      </div>
    </form>
  </div>
<% end %>
