<% unless @error %>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">
    <form action="/do" method="get" class="span10">
      <div class="span16">
        <div class="row">
          <div class="span2">&nbsp;</div>
          <input name="q" id="q" type="text" placeholder="Query" class="span10"/>
          <div class="span1">&nbsp;</div>
          <button type="submit" class="btn">Go</button>
        </div>
      </div>
    </form>
  </div>
  <script language="javascript" type="text/javascript">
    document.getElementById("q").focus();
  </script>
<% end %>
